*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #4d4e53;
    font-family: 'Arial', sans-serif;
}

header {
    font-size: 1.5rem;
    color: #000;
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    min-width: 250px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border: 2px solid grey;
  }

nav header {
    text-align: center;
}

nav ul {
    padding: 0;
    margin-bottom: 0;
}

nav li {
    list-style-type: none;
    border-bottom: 1px solid grey;
    padding: 1rem;
}

nav li:first-of-type {
    border-top: 1px solid grey;
}

.nav-link {
    color: #2e2e31;
    text-decoration: none;
}

code {
    background: lightgrey;
    margin-left: 30px;
    display: block;
    line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
    main {
        position: absolute;
        margin-left: 330px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
  
    nav {
        position: absolute;
        width: 100%;
        max-height: 330px;
        height: auto;
        order: 1; /* Change the order to display left before right on mobile */
    }
  
    main {
        position: absolute;
        top: 330px;
        order: 2; /* Change the order to display right after left on mobile */
        padding: 10px;
    }
  }